html {
  scroll-behavior: smooth;
}

.navbar-item {
    color: #000000;
}
.p_nav {
    margin: 0px 20px 0px 0px;
}
.my-logo {
    height: 100%;
    width: 100%;
}

.cust-btn {
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    display: inline-block;
    text-align: center;
    background-color: #EAE0FF;
}

.cust-pad {
    padding: 0px 30px;
}

.margin {
    margin: 10px;
}

.gap {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

@media (max-width: 992px) {
  .gap {
    gap: 16px;
    justify-content: center;
  }
}

.group {
    margin: 20px 0px;
}

.mt {
  margin-top: 40px;
}