.navbar-item {
    color: #000000;
}
.p_nav {
    margin: 0px 20px 0px 0px;
}
.my-logo {
    height: 100%;
    width: 100%;
}

.cust-btn {
    border-radius: 5px;
    font-family: 'Lora';
    letter-spacing: 2px;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    display: inline-block;
    text-align: center;
}

.cust-pad {
    padding: 0px 30px;
}

.margin {
    margin: 10px;
}
